:root {
	--blue: #4267B3;
	--lightgrey: #E9EBEE;
	--midgrey: #90949C;
	--darkgrey: #616771;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--lightgrey);
	color: white;
	font-weight: 700;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#calculator {
	height: 600px;
	width: 380px;
	display: flex;
	flex-direction: column;
	background-color: var(--midgrey);
	border: black 3px solid;
	border-radius: 20px;
	padding: 10px;
}

#display {
	display: flex;
	height: 20%;
	flex-direction: column;
	padding: 5px;
	margin: 15px 5px 15px 5px;
	border-radius: 10px;
	border: black solid 2.5px;
}

#top {
	height: 30%;
	font-weight: 400;
}

#bottom {
	height: 60%;
	font-size: 32px;
}

#top, #bottom {
	display: flex;
	align-items: center;
	justify-content: right;
	padding-right: 20px;
}

#clear-delete {
	display: grid;
	grid-template-columns: repeat(2, 2fr);
	height: 15%;
	padding-left: 2.5px;
	padding-right: 2.5px;
}

#clear-delete > .btn {
	background-color: var(--blue);
}

#buttons {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	height: 65%;
	padding: 2.5px;
}

.btn {
	margin: 2.5px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 20px;
	background-color: var(--darkgrey);
	border-radius: 15px;
	border: black 2px solid;
}